#secondary-inner #comments #header.ytd-item-section-renderer {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#secondary-inner #comments #header ytd-comments-header-renderer {
  padding-bottom: 12px;
  background: var(--ytd-searchbox-background);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--tf3fc855af2285f5f);
}