#secondary-inner #comments #header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#secondary-inner #comments #header ytd-comments-header-renderer {
    padding-bottom: var(--comments-header-renderer-margin-bottom, 12px);
    background: var(--yt-spec-base-background);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--yt-spec-10-percent-layer);
}