html {
  font-size: 0.8rem;
}

body {
  width: 26rem;
  min-width: 26rem;
  margin: 0;
}

#panel {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
#panel.no-transition {
  transition: none !important;
}

.container-md {
  max-width: 800px;
}
